# Dependencies
node_modules

# Build Output
dist
build
out

# Test Coverage Reports
coverage

# IDE Specific Files
.idea
.vscode

# OS Specific Temporary Files
.DS_Store
Thumbs.db

# Version Control Metadata
.gitattributes
.gitignore
.gitmodules

# Local Environment Variables
.env

# Logs
*.log

# Npm Lock Files
package-lock.json

# Yarn Lock Files
yarn.lock

# Any other files or folders you want to exclude
